extends layout

block content
  style.
    body {
      background-image: url("");
      background: linear-gradient(15deg, #25ddf5, #53f);
    }
  .container
    Center
      h1.my-4.text(style='color: #f3f3f3') Meet the team
      Br
    .row
      .col-lg-4.col-sm-6.text-center.mb-4
        img.circle.d-block.mx-auto(src='https://i.pinimg.com/236x/c3/ed/5d/c3ed5db83f93e976ae4d8f5c83335f62--emmet-lego-lego-lego.jpg', alt='', height="200" width="200")
        h2
            a.a(href='Jesse', style='color:#f3f3f3') Jesse Gabriel
            P.small(style='color: #f3f3f3') Team Lead
      .col-lg-4.col-sm-6.text-center.mb-4
        img.circle.d-block.mx-auto(src='http://s3.amazonaws.com/boathouseh2o.com/inventory/1280/00Pf100000MC6VvEAL.jpg', alt='', height="200" width="200")
        h2
            a.a(href='Jenny', style='color:#f3f3f3') Jenny Ngo
            P.small(style='color: #f3f3f3') Frontend Lead
      .col-lg-4.col-sm-6.text-center.mb-4
        img.circle.d-block.mx-auto(src='https://i.pinimg.com/736x/79/c9/be/79c9bea43c84cddc92a69e3ff35b3de0.jpg', alt='', height="200" width="200")
        h2
            a.a(href='Matthew', style='color:#f3f3f3') Matthew Berkman
            P.small(style='color: #f3f3f3') Backend Lead
      .col-lg-4.col-sm-6.text-center.mb-4
        img.circle.d-block.mx-auto(src='./images/avneesh.jpg', alt='', width="200" height="200")
        h2
            a.a(href='Avneesh', style='color:#f3f3f3') Avneesh Setia
            P.small(style='color: #f3f3f3') Front End
      .col-lg-4.col-sm-6.text-center.mb-4
        img.circle.d-block.mx-auto(src='./images/huiliang.jpg', alt='', height="200" width="200")
        h2
            a.a(href='Huiliang', style='color:#f3f3f3') Huiliang Huang
            P.small(style='color: #f3f3f3') Front End
      .col-lg-4.col-sm-6.text-center.mb-4
        img.circle.d-block.mx-auto(src='./images/yingjing.jpg', alt='', height="200" width="200")
        h2
            a.a(href='Yingjing', style='color:#f3f3f3') Yingjing Chen
            P.small(style='color: #f3f3f3') Front End
      .col-lg-4.col-sm-6.text-center.mb-4
        img.circle.d-block.mx-auto(src='https://static.pexels.com/photos/126407/pexels-photo-126407.jpeg', alt='', height="200" width="200")
        h2
            a.a(href='David', style='color:#f3f3f3') David Lau
            P.small(style='color: #f3f3f3') Backend
    Br
