extends layout

block content
  .container
    h1.my-4
      | Avneesh Setia 
      small(style='color:#007bff;') Front End 
    .row
      .col-md-8
        img.img-fluid(src='./images/avneesh.jpg', alt='')
      .col-md-4
        #rcorners
          h3.my-3 About me
          p Front end team lead
          h3.my-3 Contributions in the team-
          ul
            li Website design
            li HTML, CSS, Bootstrap dev
            li Delegating/dividing front end tasks within the team
