extends layout

block content
  .container
    h1.my-4
      | David Lau 
      small(style='color:#007bff;') Backend Developer
    .row
      .col-md-8
        img.img-fluid(src='https://static.pexels.com/photos/126407/pexels-photo-126407.jpeg', alt='')
      .col-md-4
        #rcorners
          h3.my-3 About
          p Developer by day, dreamer by night. San Francisco born and raised.
