extends layout

block content
  .container
    h1.my-4 Jenny Ngo
    .row
      .col-md-8
        img.img-fluid(src='http://placehold.it/750x500', alt='')
      .col-md-4
        #rcorners
          h3.my-3 About me
          p
            | Hello, I am an undergraduate, senior at SFSU.
            | I love to game and would love to try game developing someday.
            | I also participated in the SFSU Wind Ensemble as a flute player between 2013-2015.
