extends layout

block content
  .container
    h1.my-4
      | Jesse Gabriel 
      small(style='color:#007bff;') Team Lead
    .row
      .col-md-8
        img.img-fluid(src='https://i.pinimg.com/236x/c3/ed/5d/c3ed5db83f93e976ae4d8f5c83335f62--emmet-lego-lego-lego.jpg', alt='')
      .col-md-4
        #rcorners
          h3.my-3 About me
          p Team Lead of Team 3 in CSC 648 at SFSU.
          .row
