extends layout

block content
  .container
    h1.my-4
      | Matthew Berkman 
      small(style='color:#007bff;') Backend Lead
    .row
      .col-md-8
        img.img-fluid(src='https://i.pinimg.com/736x/79/c9/be/79c9bea43c84cddc92a69e3ff35b3de0.jpg', alt='')
      .col-md-4
        #rcorners
          h3.my-3 About me
          p
            | I am a Senior at San Francisco State University. My hobbies are archery, bike riding and coding. I currently know Java, C++ and C. I am the back end lead of team 3
          h3.my-3 Contributions in the team-
          ul
            li nothing yet
