extends layout

block content
  style.
    .navbar{background:#007bff;border-bottom:thin solid #fff;}body,html{font-family:'Open Sans',sans-serif;height:100%;background-image:url()}ul{list-style:none;margin:0;padding:0}
  .container-fluid
    section#content
      br
      center
        H
          font(color='#007bff', size='70px;', style='verdana') #{msg}
      a.back_link(href='/fa17g03/') Back to Home Page
      Br
