extends layout

block content
  .container
    h1.my-4
      | Yingjing Chen 
      small(style='color:#007bff;') Front End
    .row
      .col-md-8
        img.img-fluid(src='./images/yingjing.jpg', alt='')
      .col-md-4
        #rcorners
          h3.my-3 About me
          p
            | I am a senior in SFSU, fall 17 is my last semester in this university. I like travling and music.
          h3.my-3 Contributions in the team-
          ul
            li Front end support
